*.apk
*.exe
*.dll
*.jar
*.class
*.dex

.ruff_cache/
apk_extracted/

JkBmsApp/build/
JkBmsApp/app/build/
JkBmsApp/.gradle/
JkBmsApp/local.properties
JkBmsApp/*.iml
JkBmsApp/app/*.iml
JkBmsApp/.idea/
JkBmsApp/captures/
JkBmsApp/.externalNativeBuild/
JkBmsApp/.cxx/
*.apk
*.aab
*.log

.worktrees/
